.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  background: #f4f6f8;
}

.login-card {
  background: white;
  padding: 35px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background: #6b6be6;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.login-card button:hover {
  background: #5757d6;
}

.login-card p {
  margin-top: 15px;
}
