.navbar {
  background: #020617;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  color: #38bdf8;
}

.nav-links a {
  color: #eaeaea;
  margin-left: 20px;
  text-decoration: none;
}

.nav-links a:hover {
  color: #38bdf8;
}
